{{!-- {{#each tiles}}
    <p>{{word}}
        data-id="{{id}}"
        {{#if visible || keymaster}} #CSS-visible {{else}} #CSS-not-vissible {{/if}}
    </p>
{{/each}}  --}}

{{!-- onclick-listener? --}}