{{#if keymaster}}
    <input type="text" size="6" name="clue-text"> 
    <select name="clue-number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>

    <button id="submit-clue">Submit</button>
    {{!-- number sends to turn logic for selected tiles until incorrect or number reached
    append to past clues when new turn? --}}

    {{else}}
    {{!-- view clue only --}}
{{/if}}

{{!-- "pass-turn" button --}}