<ul>
    <ul><a href="/"><i class="fas fa-home nav-icons"></i> Home</a></ul>
    <ul><button id="rules-button"><i class="fas fa-graduation-cap nav-icons"></i>
            Rules</button></ul>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="/rooms/{{room_access_code}}/0"
                class="nav-link {{#unless player_type}}active{{/unless}}"><i
                    class="{{#if player_type}}nav-icons{{/if}} far fa-eye-slash"></i>
                Agent</a></li>
        <li class="nav-item"><a href="/rooms/{{room_access_code}}/1"
                class="nav-link {{#if player_type}}active{{/if}}"> <i
                    class="far fa-eye {{#unless player_type}}nav-icons{{/unless}}"></i>
                KeyMaster</a></li>
    </ul>
</ul>