{{!-- home
exit game
leave room
help / contact
rules --}}
<div id="nav">
    <a href="/">Home</a>
    <a href="/exit/rooms/:id">Exit Game</a>
    <a href="/leave">Leave Room</a>
    <a href="/help">Help</a>
    <a href="/rules">Rules</a>
</div>