{{!-- home
exit game
leave room
help / contact
rules --}}
<div id="nav">
    <a href="/">Home</a>
    <a href="/rooms/{{room_access_code}}/0">Agent</a>
    <a href="/rooms/{{room_access_code}}/1">Keymaster</a>
</div>