<ul>
    <ul><a href="/">Home</a></ul>
    <ul><button id="rules-button">Rules</button></ul>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="/rooms/{{room_access_code}}/0" class="nav-link {{#unless player_type}}active{{/unless}}">Agent</a></li>
        <li class="nav-item"><a href="/rooms/{{room_access_code}}/1" class="nav-link {{#if player_type}}active{{/if}}">Keymaster</a></li>
    </ul>
</ul>