<div class="modal fade" id="RulesModal" tabindex="-1" role="dialog"
    aria-labelledby="RulesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="RulesModalTitle">
                    How to Play Cypher-Text
                </h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-warning text-left">Rules of the Game</h5>
                <p class="text-white text-left">Insert MODAL CONTENT DURING ZOOM
                    CALL</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Go Back</button>
                <button type="button" class="btn btn-info"
                    id="confirm-word-choice">Confirm</button>
            </div>
        </div>
    </div>
</div>
<ul>
    <ul><a href="/"><i class="fas fa-home nav-icons"></i> Home</a></ul>
    <ul><button id="rules-button"><i
                class="fas fa-graduation-cap nav-icons"></i>
            Rules</button></ul>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="/rooms/{{room_access_code}}/0"
                class="nav-link {{#unless player_type}}active{{/unless}}"><i
                    class="{{#if player_type}}nav-icons{{/if}} far fa-eye-slash"></i>
                Agent</a></li>
        <li class="nav-item"><a href="/rooms/{{room_access_code}}/1"
                class="nav-link {{#if player_type}}active{{/if}}"> <i
                    class="far fa-eye {{#unless player_type}}nav-icons{{/unless}}"></i>
                KeyMaster</a></li>
    </ul>
</ul>