<div class="room-input">
    <label for="room-input">Room: </label>
    <input type="text" name="room-name" id="room-input">
    <button id="create-room-input">Create</button>
    <input type="text" name="access-code-name" id="access-code-input">
    <button id="join-room-input">Join</button>
</div>