    <h3 id="scores-header">Scores</h3>
    <span class="teamA">
        <p id="teamAscore">{{scores.[0]}}</p> 
    </span>
    <span class="teamA">
        <p id="teamBscore">{{scores.[1]}}</p> 
    </span>