<h3 id="scores-header">Scores</h3>
<div id="teams-wrap">
    <span id="teamAscore">{{scores.[1]}}</span>
    <i class="fas fa-balance-scale"></i>
    <span id="teamBscore">{{scores.[0]}}</span>
</div>