{{!-- score?
team A
if (team a words) {
      newTr.append("<td> " + not-visible.length + "</td>");
    } else {
     0
     end game
    }

team B
if (team b words) {
      not-visible.length
    } else {
      0
      end game
    } --}}