<div class="submit-clue-wrap">
    <label class="clue-label">Current Clue: </label>
    <input type="text" id="clue-text"> 
    <select size="1" id="clue-number">
        <option value="1" class="btn-op">1</option>
        <option value="2" class="btn-op">2</option>
        <option value="3" class="btn-op">3</option>
        <option value="4" class="btn-op">4</option>
        <option value="5" class="btn-op">5</option>
        <option value="6" class="btn-op">6</option>
    </select>
    <button id="submit-clue">Submit</button>
</div>