<div class="game-over">
    <div class="display-results row">
        <span class="col-2"></span>
        <span id="teamA" class="team-icons col-2">{{#if winner}}<i class="fas fa-trophy"></i>{{else}}<i class="fas fa-poo"></i>{{/if}}</span>
        <i class="fas fa-user-secret sleuth-icon col-4"></i>
        <span id="teamB" class="team-icons col-2">{{#unless winner}}<i class="fas fa-trophy"></i>{{else}}<i class="fas fa-poo"></i>{{/unless}}</span>
        <span class="col-2"></span>
    </div>
    <div class="glitch-header row">
        <h1 class="glitched">GAME <i class="fas fa-search o-replace"></i>VER</h1>
    </div> 
    <div class="new-game-nav row">
        <span class="col-4"></span>
        <a href="/"><i class="fas fa-home go-icons col-2"></i></a>
        <button type="submit" class="go-icons col-2" id="create-room-input"><i class="fab fa-redhat"></i></button>
        <span class="col-4"></span>
    </div>
</div>