<div class="home-page">
    <header id="home-header">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
    </header>
    {{!-- <span>{{> user }}</span> --}}
    <span>{{> roomlogin}}</span>
</div>