<h1 id="room-name">{{room_name}}</h1> 
<h3 id="access-code-display">Access Code: ( {{room_access_code}} )</h3>
<div id="nav">{{> nav }}</div>
<span>{{> scores }}</span>
{{#if player_type }}
    <span>{{> submitclue }}</span>
    <span>{{> masterboard }}</span>
{{else}}
    <div><label for="clue">Current Clue:</label>  {{ clue }}</div>
    <span>{{> agentboard }}</span>
{{/if}}
