{{> nav }}
<span>{{> scores }}</span>
{{#if player_type }}
<span>{{> submitclue }}</span>
<span>{{> masterboard }}</span>
{{else}}
<div><label for="clue">Current Clue:</label>  {{ clue }}</div>
<span>{{> agentboard }}</span>
{{/if}}
