*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    box-sizing: border-box;
    height: 100vh;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #222222;
}

#logo {
    width: 300px;
}
canvas {
    display: block;
}

#login-background {
    background-color: #222222;
    margin-top: 25%;
}

a {
    color: #00b7ff;
}

.word {
    height: 7rem;
    width: 80%;
    padding-top: 3rem;
    text-align: center;
    position: relative;
    -mox-prespective: 150rem;
    perspective: 150rem;
    margin: 2rem auto;
}

.grid {
    width: 20%;
    float: left;
}

.word__side {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1rem 2rem rgba(194, 95, 29, .5);
    backface-visibility: hidden;
    transition: all 0.8s ease;
    line-height: 1rem;
}

.word__side--front {
    background-color: rgba(255, 255, 255, 0.233);
    color: white;

}

.word__side--back {
    transform: rotateY(180deg);
}

.word:hover .word__side--front {
    border: .2rem white solid;
    box-shadow: none;
    transform: scale(1.25);
    cursor: pointer;
}

/* .word:hover .word__side--back {
    transform: rotateY(0);
} */

.agent-1 {
    background-color: blue;
}

.agent-2 {
    background-color: red;
}

.agent-3 {
    background-color: tan;
}

.agent-4 {
    background-color: black;
}
