*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    box-sizing: border-box;
    height: 100vh;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #222222;
}

#logo {
    width: 300px;
}
canvas {
    display: block;
}

#login-background {
    background-color: #222222;
    margin-top: 25%;
}

a {
    text-shadow: 1px 1.25px rgb(121, 50, 17);
    color: rgb(235, 168, 124);
}

.word {
    height: 7rem;
    width: 80%;
    padding-top: 3rem;
    text-align: center;
    position: relative;
    -mox-prespective: 150rem;
    perspective: 150rem;
    margin: 2rem auto;
}

.grid {
    width: 20%;
    float: left;
}

.word__side {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1rem 2rem rgba(194, 95, 29, 0.5);
    backface-visibility: hidden;
    transition: all 0.8s ease;
    line-height: 1rem;
}

.word__side--front {
    background-color: rgba(255, 255, 255, 0.233);
    color: white;
}

.word__side--back {
    transform: rotateY(180deg);
}

.word:hover .word__side--front {
    border: 0.2rem white solid;
    box-shadow: none;
    transform: scale(1.25);
    cursor: pointer;
}

/* .word:hover .word__side--back {
    border: 1rem white solid;
    transform: rotateY(0);
}
*/

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.agent-1 {
    background-color: rgb(62, 62, 255);
}

.agent-2 {
    background-color: rgb(238, 29, 29);
}

.agent-3 {
    background-color: rgb(209, 187, 159);
    color: black;
}

.agent-4 {
    background-color: rgb(20, 20, 20);
}

/* Room Header Styling */
/* =================== */

.rooms-header{
    line-height: 1.75;
    align-items: center;
}

.hdr-item{
    text-align: center;
}

#rules-button{
    margin: 5px;
    border: none;
    text-shadow: 1px 1.25px rgb(121, 50, 17);
    color: rgb(235, 168, 124);
    background-color: transparent
}

a.nav-link.active{
    color: #ffffff !important;
    background-image: radial-gradient(#222222, rgba(194, 95, 29, 0.8)) !important;
    border: none;
}

.scores-wrap{
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    background-image: radial-gradient(rgba(230, 160, 114, 0.25), #222222 72%);
}

#teams-wrap,
#scores-header{
    color: #6fdda6;
    font-weight: 500;
    font-size: 35px;
    text-shadow: 1px 1px darkviolet,  1.75px 1.75px rgb(240, 164, 114);
}

#teamAscore{
    color: red;
    text-shadow: 1.5px 1.5px rgb(138, 0, 0);
}

#teamBscore{
    color: blue;
    text-shadow: 1.5px 1.5px rgb(0, 0, 121);
}

#clue-total-wrap{
    color: rgb(240, 164, 114);
    font-weight: 500;
    font-size: 25px;
    text-shadow: 0.35px 1.05px rgb(156, 98, 65), 0.8px 1.7px rgba(127, 238, 182, 0.45);
}

.clue-label{
    font-weight: 700;
    font-size: 27.5px;
    text-shadow: -0.65px 1.25px rgb(94, 69, 99), -1.35px -0.35px rgb(197, 146, 50);
}

#room-name{
    color: #7feeb6;
    font-size: 35px;
    font-weight: 700;
    text-shadow: -1px 1px #075a32, -1.75px 2px #298a59;
}

#access-code-display{
    font-weight: lighter;
    color: rgb(202, 150, 112);
    text-shadow: -1px 1px rgba(127, 238, 182, 0.45);
}

input#clue-text{
    font-size: 20px;
    color: rgb(252, 214, 188);
    width: 125px;
    border-color: rgb(202, 150, 112);
    background-image: linear-gradient(rgba(83, 28, 28, 0.85), rgba(26, 26, 58, 0.85)) !important;
}

select#clue-number{
    color: rgb(252, 214, 188);
    border: rgb(202, 150, 112) outset 2px;
    background-image: radial-gradient(rgba(26, 26, 58, 0.85), rgba(83, 28, 28, 0.85));
}

.btn-op{
    background-color: #3eac75;
}

.far{
    margin-right: 6px;
}

.nav-icons{
    font-size: 18px;
    color: rgb(155, 64, 22);
    text-shadow: none;
    margin: 6px;
}

#submit-clue{
    font-size: 15px;
    font-weight: 450;
    background-image: radial-gradient(rgb(73, 67, 67), #222222);
    color: rgb(202, 150, 112);
    border-style: outset;
    padding: 3px;
    border-radius: 10%;
    border-color: rgb(202, 150, 112);
}